<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
    <link
      href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>" />
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body>
    <ion-app aurelia-app="main"></ion-app>
  </body>
</html>
